/* header & gnb */
body::before {  position: fixed; z-index: 2000; inset: 0; background-color: rgba(0, 0, 0, 0.5); opacity: 0; visibility: hidden; transition: opacity 0.3s ease, visibility 0.3s; pointer-events: none; content: "";}
body:has(.btn_gnb[aria-expanded="true"]) { overflow: hidden; touch-action: none; }
body:has(.btn_gnb[aria-expanded="true"])::before { opacity: 1; visibility: visible; pointer-events: auto; }
.header{position: sticky;z-index: 1000;top: 0;right: 0;left: 0;height: 60px;padding: 0 15px;background-color: #fff;border-bottom: 1px solid #eee;}
.header:has(.btn_gnb[aria-expanded="true"]) {z-index: 5000; }
.header_inner {display: flex; justify-content: space-between; align-items: center;  height: 100%; margin: 0 auto; }
.area_tit { display: inline-block; width: 120px; height: 100%; }
.area_tit a { display: flex;justify-content: center; align-items: center;  width: 100%; height: 100%; }
.area_tit img { display: block; width: 100%; height: auto; }
.btn_gnb.mobile {display: flex;  justify-content: center; align-items: center; width: 40px; height: 40px; font-size: 20px; color: #111; cursor: pointer;}
.box_gnb { position: fixed;z-index: 3000; top: 0; right: 0; bottom: 0; width: 280px;  padding-top: 60px;background-color: #fff; transform: translateX(100%);  box-shadow: -5px 0 15px rgba(0,0,0,0.1); transition: transform 0.3s ease;  }
.btn_gnb.mobile[aria-expanded="true"] + .box_gnb { transform: translateX(0); }
.box_gnb .btn_close{position:absolute;top:15px;right:15px;padding:6px;color:#111;}
.box_gnb ul {display: flex; flex-direction: column;  }
.box_gnb .link_page { display: block; width: 100%; padding: 16px 24px; border-bottom: 1px solid #f5f5f5;font-size: 18px; font-weight: 600; color: #111; transition: all 0.3s ease; }
.box_gnb .link_page:hover { color: #E86208;  }
@media screen and (min-width:768px) {
  body::before { display: none; }
  .header{height:72px;}
  .header_inner{max-width:1000px;margin:0 auto;}
  .btn_gnb.mobile { display: none; } 
  .box_gnb { position: static;  width: auto; height: 100%; padding-top: 0;box-shadow:none;visibility: visible ;transform: none ;}
  .box_gnb ul { flex-direction: row; align-items: center; height: 100%;  }
  .box_gnb .link_page { padding: 0 20px; border-bottom: none; font-size: 20px; }
  .box_gnb .btn_close{display:none}
}
@media screen and (min-width:1200px) {
  .header{height:80px;}
  .area_tit{width:200px;}
}

/* footer */
.footer{position: relative;padding:20px 15px;color:#fff;background-color: #1A2B4C}
.footer_inner {display: flex; flex-direction:column;justify-content: space-between; gap:10px;  height: 100%; margin: 0 auto; }
.footer strong{display:inline-block;font-size:24px;font-weight:600;line-height:1.4;}
.footer a{display:block;margin-top:8px;color:inherit}
.footer a i{margin-right:4px;}
.footer .img_logo{display:block;width:100px;height:auto;opacity: 0.7;}
.btn_top {position: fixed;right: 20px;bottom: 20px;z-index: 1000;width:45px;height:45px;border-radius:100px;font-size:16px;color:#fff;background: linear-gradient(135deg,rgba(232, 98, 8, 0.95),rgba(26, 43, 76, 0.95));opacity: 0;visibility: hidden;transform: translateY(20px);transition: opacity 0.3s, transform 0.3s, visibility 0.3s;}
.btn_top.on {opacity: 1;visibility: visible;transform: translateY(0);pointer-events: auto;}
.btn_top.btn_fix {position: absolute;top:0;bottom: auto;transform: translateY(-50%);}
@media screen and (min-width:768px) {
  .footer_inner{flex-direction:row;align-items:center;max-width:1000px;margin:0 auto;}
  .footer .img_logo{margin-left:auto}
}

/* 메인 내부 공통 */
.wrap_section{padding:0 15px;margin:15px auto;}
[class*=section_] .btn_prev,[class*=section_] .btn_next{justify-content: center;align-items: center;display:flex;position:absolute;top:50%;width:36px;height:36px;border: 1px solid rgba(170,170,170,0.6);border-radius:100px;font-size:16px;color:#111;background-color:#fff;transform:translateY(-50%);z-index:500;transition: opacity 0.3s ease, transform 0.3s ease;}
[class*=section_] .btn_prev:active,[class*=section_] .btn_next:active{transform:translateY(-50%) scale(0.95);opacity:0.85}
[class*=section_] h2{font-weight:700;line-height:1.1;font-family:'SBAggro', 'Pretendard';letter-spacing:-2px;}

[class*=section_main] .btn_prev{left:0;}
[class*=section_main] .btn_next{right:0;}

[class*=section_main]{position:relative;padding:25px 0;}
[class*=section_main] h2{margin-bottom:20px;font-size:32px;}
[class*=section_main] .box_swiper{position:relative;}
[class*=section_main] .box_swiper:has(.btn_prev) .swiper{margin:0 50px;}
[class*=section_main] .link_more{position:absolute;top:30px;right:0;display: inline-block;padding:6px 18px;border-radius:30px;font-size:13px;font-weight:400;line-height:1.5;text-align: center;transition: opacity 0.3s ease;;}
[class*=section_main] .link_more:hover, [class*=section_main] .link_more:active{opacity: 0.8;}

@media screen and (min-width:768px) {
  .wrap_section{max-width:1000px;margin:25px auto;}
  [class*=section_] .btn_prev,[class*=section_] .btn_next{width:40px;height:40px;font-size:20px;}
  [class*=section_main] h2{margin-bottom:24px;font-size:36px;}
  [class*=section_main]{padding:30px 0}
  [class*=section_main] .box_swiper:has(.btn_prev) .swiper{margin:0 50px;}
  [class*=section_main] .link_more{top:40px;padding: 8px 24px;font-size: 16px;}
}

@media screen and (min-width:1200px) {
  [class*=section_main] h2{font-size:44px;}
  [class*=section_main]{padding:35px 0}
  [class*=section_main] .link_more{top:48px;padding: 8px 28px;}
}

/* section_visual */
.section_visual{height:300px;}
.section_visual .swiper{height:100%}
.section_visual .swiper-slide{height:100%}
.section_visual .swiper-slide img{width:100%;height:100%;object-fit:cover;object-position:bottom center;}
.section_visual .swiper-slide .wrap_txt{flex-direction:column;justify-content:center;align-items:center;display:flex;position:absolute;height:100%;padding:0 55px;background-color: rgba(15,23,42,0.4);inset:0;pointer-events: none;}
.section_visual .swiper-slide .tit_txt{font-size:36px;font-weight:700;line-height:1.3;color:#fff;text-align:center;font-family:'SBAggro','Pretendard';}
.section_visual .swiper-slide .tit_txt em{font-weight:inherit;color:#E86208;}
.section_visual .swiper-slide .desc_txt{margin-top:16px;font-size:24px;font-weight:600;line-height:1.4;color:#F1F5F9;text-align:center;word-break: keep-all;}
.section_visual .btn_prev{left:10px;}
.section_visual .btn_next{right:10px;}
@media screen and (min-width:768px) {
  .section_visual{height:380px;}
  .section_visual .swiper-slide .tit_txt{font-size:48px;line-height:1.4;}
  .section_visual .swiper-slide .desc_txt{margin-top:24px;font-size:24px;line-height:1.5;}
  .section_visual .btn_prev{left:26px}
  .section_visual .btn_next{right:26px;}
}
@media screen and (min-width:1200px) {
  .section_visual{height:500px;}
  .section_visual .swiper-slide .tit_txt {font-size: 56px;line-height: 1.6;}
  .section_visual .swiper-slide .desc_txt{margin-top:32px;font-size:28px;}
}

/* section_main1 */
.section_main1 h2{color:#E86208;}
.section_main1 .swiper-slide{padding:20px;border:1px solid #aaa;border-radius:10px;}
.section_main1 .swiper-slide strong{display:inline-block;margin-bottom: 20px;font-size:20px;font-weight:700;line-height:1.4;color:#111;}
.section_main1 .swiper-slide .subtit_txt{display: inline-block;margin-left:6px;font-size:14px;font-weight:400;line-height:1.5;color:#aaa;}
.section_main1 .list_desc{flex-direction: column;display: flex;gap:6px;}
.section_main1 .list_desc li{position:relative;padding-left:20px;font-size: 16px;font-weight:500;line-height: 1.6;color:#111;}
.section_main1 .list_desc li::before{position:absolute;top:50%;left:0;font-family:'Font Awesome 7 Free';font-size:12px;font-weight:800;color:#E86208;transform:translateY(-50%);content:"\f00c";}
.section_main1 .link_more{color:#fff;background-color:#E86208;}
@media screen and (min-width:768px) {
  .section_main1 .swiper-slide{padding:30px;}
  .section_main1 .swiper-slide strong{margin-bottom: 24px;font-size:22px;line-height:1.4;}
  .section_main1 .list_desc li{font-size:16px;line-height: 1.5;}
}
@media screen and (min-width:1200px) {
  .section_main1 .swiper-slide strong{margin-bottom: 26px;font-size:24px;line-height:1.5;}
  .section_main1 .swiper-slide .subtit_txt{font-size:16px;}
  .section_main1 .list_desc li{font-size:18px;}
}

/* section_main2 */
.section_main2 h2{color:#B1452D;}
.section_main2 .list_photo{display:flex;flex-direction:column;gap:10px}
.section_main2 li{width:100%;border-radius: 10px;overflow:hidden;}
.section_main2 li img{width:100%;border-radius: inherit;box-shadow: 0 3px 6px rgba(17,17,17,0.2);transition:transform 0.3s ease-in-out;}
.section_main2 li img:hover{transform:scale(1.1)}
.section_main2 .link_more{color:#fff;background-color:#B1452D;}
@media screen and (min-width:768px) {
  .section_main2 .list_photo{display:grid;grid-template-columns: 1fr 1fr;gap:20px}
}

/* section_main3 */
.section_main3 h2{color:#66383C;}
.section_main3 .swiper-slide{height:100%;padding: 20px;border:1px solid #aaa;border-radius:10px;background-color: #fff;;}
.section_main3 .swiper-slide .tit_txt{display:inline-block;margin-bottom:24px;font-size:20px;font-weight:600;line-height:1.4;color:#111;word-break:keep-all;}
.section_main3 .swiper-slide .desc_txt{margin-bottom:18px;font-size:16px;font-weight:500;line-height:1.6;color:#111;word-break:keep-all;}
.section_main3 .swiper-slide .name_txt{display:block;margin-top:auto;font-size:14px;font-weight:400;line-height:1.5;color:#aaa;text-align: right;}
.section_main3 .swiper-slide .name_txt i{margin-right:8px;}
.section_main3 .link_more{color:#fff;background-color:#66383C;}
@media screen and (min-width:768px) {
  .section_main3 .swiper-slide{padding: 30px}
  .section_main3 .swiper-slide .tit_txt{margin-bottom:28px;font-size:22px;line-height:1.4;}
  .section_main3 .swiper-slide .desc_txt{margin-bottom:22px;font-size:16px;line-height:1.6;}
}
@media screen and (min-width:1200px) {
  .section_main3 .swiper-slide{padding: 30px 40px;}
  .section_main3 .swiper-slide .tit_txt{font-size:24px;}
  .section_main3 .swiper-slide .desc_txt{font-size:18px;line-height:1.7}
}

/* section_main4 */
.section_main4 h2{color:#1A2B4C;}
.section_main4 .swiper-slide{flex-shrink:0;display:inline-block;width:auto;min-width:100px;padding:6px 10px;border:1px solid #aaa;border-radius:10px;font-size:13px;font-weight:400;line-height:1.5;color:#aaa;text-align:center;}
.swiper.line2{margin-top:15px;}

/* subpage 공통 */
.section_subvisual {position: relative;width: 100%;height: 40vh; background-repeat: no-repeat;background-position: center;background-size: cover;background-attachment: fixed; display: flex;align-items: center;justify-content: center;}
@media screen and (min-width:1200px){
  .section_subvisual{height:55vh;}
}

/* intro page */
/* intro page 공통 */
#intro .section_subvisual {background-image: url('../images/temp_visual1.jpg'); }
.intro .section_inner{display:flex;flex-direction: column;}
.intro [class*=section_]{padding:30px 0;}
.intro [class*=section_] .tit_txt{font-size:28px;color:#aaa}
.intro [class*=section_] .subtit_txt{font-size:18px;}
.intro [class*=section_] .desc_txt{font-size:16px;}
@media screen and (min-width:768px) {
  .intro .section_inner{gap:20px;align-items: center;}
  .intro [class*=section_]{padding:40px 0}
  .intro [class*=section_] .box_head{align-self: flex-start;}
}
@media screen and (min-width:1200px) {
  .intro [class*=section_]{padding:50px 0}
}

/* intro - section_head*/
.intro .section_head h2.tit_txt em{color:#E86208;}
.intro .section_head .section_inner {align-items: center;text-align: center;}
.intro .section_head .tit_txt {margin: 20px 0;line-height: 1.4;}
@media screen and (min-width:768px) {
  .intro .section_head .section_inner {flex-direction: column;}
}
@media screen and (min-width:1200px) {

}

/* intro - section_about*/
.intro .section_about h2{color:#B1452D;}
.intro .section_about h2 em{color:#B1452D;}
.intro .section_about .box_head {flex: 1;margin-bottom: 30px;}
.intro .section_about .box_body {flex: 1;padding: 40px;background-color: #f9f9f9;border-radius: 20px;box-shadow: 0 10px 30px rgba(0,0,0,0.05);}
@media screen and (min-width:768px) {
  .intro .section_about .section_inner{flex-direction: column;}
}

/* intro - section_features */
.intro .section_features h2 em{color:#66383C;}
.intro .section_features .list_feature {display: flex;flex-direction: column;gap: 20px;margin-top: 20px;}
.intro .section_features .list_feature li {padding: 30px;border: 1px solid #eee;border-radius: 15px;background: #fff;transition: all 0.3s ease;}
.intro .section_features .list_feature li:hover {transform: translateY(-10px);}
.intro .section_features .icon {font-size: 40px;margin-bottom: 15px;}
@media screen and (min-width:768px) {
  .intro .section_features .section_inner{flex-direction: column;}
  .intro .section_features .list_feature {flex-direction: row;}
  .intro .section_features .list_feature li {flex: 1;}
}
@media screen and (min-width:1200px) {
}

/* intro - section_benefit */
.intro .section_benefit h2 em{color:#1A2B4C;}
.intro .section_benefit .list_benefit {display: grid;grid-template-columns: 1fr;gap: 20px;margin-top: 40px;}
.intro .section_benefit .list_benefit li {position: relative;padding: 40px 30px;border: 1px solid #eee;border-radius: 15px;text-align: center;}
.intro .section_benefit .num {display: block;font-size: 14px;font-weight: 700;margin-bottom: 10px;opacity: 0.5;}
@media screen and (min-width:768px) {
  .intro .section_benefit .list_benefit {grid-template-columns: 1fr 1fr;}
}
@media screen and (min-width: 1200px) {
  .intro .section_benefit .list_benefit {grid-template-columns: 1fr 1fr 1fr 1fr;  }
}